.containerVideo {
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotel_description {
    width: 100%;
    height: 100vh;
}

.hotel_name h1 {
    transform: translateY(100px);
}

.description {
    padding: 100px;
}

.divider {
    height: 250px;
    background: black;
}