.awards {
    height: 80vh;
}

.awards {
    background: url('https://static.vecteezy.com/system/resources/previews/000/600/376/original/vector-elegant-circles-white-with-halftone-abstract-white-background.jpg')no-repeat;
    background-size: cover;
    /* border: 1px solid grey; */
}

.awards img {
    height: 180px;
    width: 180px;
    background: url('http://wallpapercave.com/wp/ERJ1Jg2.jpg')no-repeat;
    background-size: cover;
    /* border: 1px solid grey; */
}

.hotel_locations {
    height: 70vh;
}

.hotel_locations_content {
    transform: translateY(20vh);
}

.footer {
    height: 30vh;
    background: #262626;
}

.media_title {
    margin-left: 70px;
}

.media_footer_cont {
    transform: translateY(10%);
}

.media_footer_cont li {
    list-style: none;
}

.media_footer_cont li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

ul li a .media_footer {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .media_footer {
    color: #fff;
    transform: rotateY(360deg);
}

.media_footer_cont li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.media_footer_cont li a:hover:before {
    top: 0;
}

.media_footer_cont li:nth-child(1) a:before {
    background: #3b5999;
}

.media_footer_cont li:nth-child(2) a:before {
    background: #55acee;
}

.media_footer_cont li:nth-child(3) a:before {
    background: #0077b5;
}

.media_footer_cont li:nth-child(4) a:before {
    background: #dd4b39;
}

/* .awards div:nth-child(2) img {
    height: 200px;
    width: 200px;
} */