.navbarColor {
    background: red;
}

.logo {
    font-family: 'Great Vibes', cursive;
}

.navigation_row:hover {

    background: #fff !important;
    background: linear-gradient(rgb(255, 226, 60), rgb(255, 217, 0), rgb(255, 187, 0)) !important;
    text-align: center;
}

.dropdown_cont {
    transform: translateY(-10px) !important;
}